<div class="container">
  <table class="table table-bordered">
    <thead></thead>
    <tbody>
      <tr>
        <button (click)="increment()">click</button>
        <app-upload></app-upload>
        <td></td>
        <app-download [uidChannel]="uidChannel"></app-download>
      </tr>
    </tbody>
  </table>
</div>

<hr />

<app-search-by-model></app-search-by-model>
<!-- 
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="model" class="sr-only">Search by id </label>
    <input
      [(ngModel)]="idVal"
      [ngModelOptions]="{ standalone: true }"
      #idtext
      type="text"
      class="form-control"
      id="model"
      placeholder="Search by id"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary mb-2"
    (click)="searchIdFromGraphql()"
  >
    Search by id Number
  </button>
</form> -->
<app-searchbyid></app-searchbyid>
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <div class="row">
      <div class="col-sm">
        <label for="model" class="sr-only">FirstName</label>
        <input
          #fname
          type="text"
          class="form-control"
          id="model"
          placeholder="FirstName"
        />
      </div>
      <div class="col-sm">
        <label for="model" class="sr-only">LastName</label>
        <input
          #lname
          type="text"
          class="form-control"
          id="model"
          placeholder="LastName"
        />
      </div>
      <div class="col-sm">
        <label for="model" class="sr-only">Email</label>
        <input
          #email
          type="text"
          class="form-control"
          id="model"
          placeholder="Email"
        />
      </div>
      <div class="col-sm">
        <label for="model" class="sr-only">vid</label>
        <input
          #vid
          type="text"
          class="form-control"
          id="model"
          placeholder="vid"
        />
      </div>
    </div>
  </div>
</form>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-secondary btn-lg btn-block"
        (click)="
          updateRow(
            fname.value,
            lname.value,
            vid.value,
            email.value
          )
        "
      >
        Update row with current id
      </button>
    </div>
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-secondary btn-lg btn-block"
        (click)="deleteVehicalById()"
      >
        Delete row with current id
      </button>
    </div>
  </div>
</div>

<hr />
<br />

<body class="container-fluid">
  <div class="row">
    <div class="span6" style="float: none; margin: 0 auto">
      <nav aria-label="navigation">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              [routerLink]=""
              (click)="changeOffset('previouse')"
              >Previous</a
            >
          </li>
          <li
            *ngFor="let i of rowNoArray | async; let no = index"
            class="page-item"
          >
            <a
              class="page-link"
              [routerLink]=""
              (click)="getdataFromGraphqlWithOffset(i)"
              >{{ i / 100 }}</a
            >
          </li>

          <li class="page-item">
            <a class="page-link" [routerLink]="" (click)="changeOffset('next')"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <br />
  <hr />
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">index</th>
        <th scope="col">id</th>
        <th scope="col">manufacturedDate</th>
        <th scope="col">age</th>
        <th scope="col">firstName</th>
        <th scope="col">lastName</th>
        <th scope="col">email</th>
        <th scope="col">carMake</th>
        <th scope="col">carModel</th>
        <th scope="col">vinNumber</th>
        <th scope="col">vid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehical of allVehicals; let index = index">
        <td>{{ index + 1 }}</td>
        <td (click)="selectId(vehical.id)">{{ vehical.id }}</td>
        <td>{{ vehical.manufacturedDate }}</td>
        <td>{{ vehical.ageOfVehicle }}</td>
        <td>{{ vehical.firstName }}</td>
        <td>{{ vehical.lastName }}</td>
        <td>{{ vehical.email }}</td>
        <td>{{ vehical.carMake }}</td>
        <td>{{ vehical.carModel }}</td>
        <td>{{ vehical.vinNumber }}</td>
        <td>{{ vehical.vid }}</td>
      </tr>
    </tbody>
  </table>
</body>
