<div class="container">
  <table class="table table-bordered">
    <thead></thead>
    <tbody>
      <tr>
        <app-notification-component></app-notification-component>
        <app-upload></app-upload>
        <app-download [uidChannel]="uidChannel"></app-download>
      </tr>
    </tbody>
  </table>
</div>
<hr />
<app-search-by-model></app-search-by-model>
<app-searchbyid></app-searchbyid>
<app-update-component></app-update-component>
<hr />
<br />
<body class="container-fluid">
  <div class="row">
    <div class="span6" style="float: none; margin: 0 auto">
      <nav aria-label="navigation">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              [routerLink]=""
              (click)="changeOffset('previouse')"
              >Previous</a
            >
          </li>
          <li
            *ngFor="let i of rowNoArray | async; let no = index"
            class="page-item"
          >
            <a
              class="page-link"
              [routerLink]=""
              (click)="getdataFromGraphqlWithOffset(i)"
              >{{ i / 100 }}</a
            >
          </li>

          <li class="page-item">
            <a class="page-link" [routerLink]="" (click)="changeOffset('next')"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <br />
  <hr />
  <app-vehical-component></app-vehical-component>
</body>
